<header id="mu-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-header-area">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="mu-header-top-left">
                  <div class="mu-top-email">
                    <i class="fa fa-envelope"></i>
                    <span>info@yourassistant.de</span>
                  </div>
                  <div class="mu-top-phone">
                    <i class="fa fa-phone"></i>
                    <span>089 xxx xxx xxx</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="mu-header-top-right">
                  <nav>
                    <ul class="mu-top-social-nav">
                      <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                      <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                      <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                      <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                      <li><a href="#"><span class="fa fa-youtube"></span></a></li>
                      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                      	<ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
            			<li class="dropdown">
              					<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<span class="fa fa-angle-down"></span></a>
              					<ul class="dropdown-menu" role="menu">
                					<li><a href="my_account.html">My Account</a></li> 
                					<li><a href="login.html">My Account Login</a></li> 
                					<li><a href="#">Logout</a></li>
                             	</ul>
           				 </li>           
			         </ul>     
                      
            
                    </ul>
                    
                  </nav>
                </div>
<!--                 <div id="navbar" class="navbar-collapse collapse"> -->
          			                
<!--         		</div>  -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>