<!-- Start registration  -->
 <section id="mu-registration">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-registration-area">
          <!-- start title -->
          <div class="mu-title">
            <h2>Register yourself</h2>
            <p>Register yourself below with only Email and Password. Fill other details in 'My Personal Data' section later.</p>
          </div>
          <!-- end title -->
           <!-- start registration content -->
          <div class="mu-registration-content">           
            <div class="row">
              <div class="col-md-6" style="width:50%">
                <div class="mu-registration-left">
                  <form [formGroup]="registrationForm" class="registrationform" (ngSubmit)="register()">
						<p   [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
                            <label for="email">My Email Address is <span class="required">*</span></label> 
                            <input type="email" placeholder="" formControlName="email">
                        </p>
                        <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
                             <div *ngIf="formControls.email.errors.required">Email is required</div>
                        </div>
						<p   [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                            <label for="password">Password<span class="required">*</span></label> 
                            <input type="password" placeholder="" formControlName="password">
                        </p>
                        <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                             <div *ngIf="formControls.password.errors.required">Password is required</div>
                        </div>
                        <p   [ngClass]="{ 'has-error': isSubmitted && formControls.repeatedPassword.errors }">
                            <label for="repeatedPassword">Repeat Password<span class="required">*</span></label> 
                            <input type="password" placeholder="" formControlName="repeatedPassword">
                        </p>
                        <div *ngIf="isSubmitted && formControls.repeatedPassword.errors" class="help-block">
                             <div *ngIf="formControls.repeatedPassword.errors.required">Repeated Password is required</div>
                        </div>
                        <p class="">
                         By clicking on 'Register Now' below, you open a Your Assistant Account. For this account 
                         <a [routerLink]="['/termsandconditions']" routerLinkActive="router-link-active" > Terms and Conditions</a> of Your Assistant GmbH applies.
                        </p> 
                        <p class="form-submit">
							<input type="submit" value="Register Now" class="mu-post-btn" name="Register">
						</p>
											
				</form>
                </div>
                
              </div>

            </div>
          </div>
          <!-- end registration content -->
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End registration  -->