<app-breadcrumb [allItems]="breacrumbItems"></app-breadcrumb>

<section id="mu-course-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-course-content-area">
					<div class="mu-title">
						<h4>Serarch Resposible Foreigner's Office for your area</h4>
					</div>
					<div class="row">
						<div class="col-md-12">
							<!-- start course content container -->
							<div class="mu-course-container mu-course-details">
								<div class="row">
									<div class="col-md-12">
										<app-google-maps-address-search (addressEvent)="setLocation($event)">
										</app-google-maps-address-search>


										<!-- Call to Ausländerbehörde service will come here -->

										<div *ngIf="location.lat && location.lng" class="mu-latest-course-single">
											<app-google-maps  [title]="title" [latitude]="location.lat"
												[longitude]="location.lng" [address]="location.formatted_address">
											</app-google-maps>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>