<app-navbar></app-navbar>
<!-- Start registration  -->
 <section id="mu-registration">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-registration-area">
          <!-- start title -->
          <div class="mu-title">
            <h2>Change Password</h2>
            <p></p>
          </div>
          <!-- end title -->
           <!-- start registration content -->
          <div class="mu-registration-content">           
            <div class="row">
              <div class="col-md-6">
                <div class="mu-registration-left">
                 <form [formGroup]="changePasswordForm" class="registrationform" (ngSubmit)="changePassword()">
						
						<p class="comment-form-author" [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                            <label for="password">Enter Current Password<span class="required">*</span></label> 
                            <input type="password" placeholder="" formControlName="password">
                        </p>
                        <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                             <div *ngIf="formControls.password.errors.required">Current Password is required</div>
                        </div>
                        <p class="comment-form-author" [ngClass]="{ 'has-error': isSubmitted && formControls.newPassword.errors }">
                            <label for="newPassword">Enter New Password<span class="required">*</span></label> 
                            <input type="password" placeholder="" formControlName="newPassword">
                        </p>
                        <div *ngIf="isSubmitted && formControls.newPassword.errors" class="help-block">
                             <div *ngIf="formControls.newPassword.errors.required">New Password is required</div>
                        </div>
                        <p class="comment-form-author" [ngClass]="{ 'has-error': isSubmitted && formControls.repeatedNewPassword.errors }">
                            <label for="repeatedNewPassword">Repeat New Password<span class="required">*</span></label> 
                            <input type="password" placeholder="" formControlName="repeatedNewPassword">
                        </p>
                        <div *ngIf="isSubmitted && formControls.repeatedNewPassword.errors" class="help-block">
                             <div *ngIf="formControls.repeatedNewPassword.errors.required">Repeated New Password is required</div>
                        </div>
                        <p class="form-submit">
							<input type="submit" value="Change Now" class="mu-post-btn" name="Change">
						</p>

											
                </form>
                {{changePasswordForm.value | json}}
                </div>
                
              </div>

            </div>
          </div>
          <!-- end registration content -->
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End registration  -->