<!-- Start registration  -->
 <section id="mu-changepassword">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-changepassword-area">
          
		  <app-alert></app-alert>
           <!-- start change password content -->
          <div class="mu-changepassword-content">           
            <div class="row">
              <div class="col-md-12">
                <div class="mu-changepassword-left">
                 <form [formGroup]="changePasswordForm" class="changepasswordform" (ngSubmit)="changePassword()">
						
						<p>
                            <label for="password">Enter Current Password<span class="required">*</span></label> 
							<input type="password" formControlName="password"
							[ngStyle]="{ 'border': isSubmitted && formControls.password.errors ? '1px solid red' : ''  }
							">
                        </p>
                        <div *ngIf="isSubmitted && formControls.password.errors" class="error-block">
                             <div *ngIf="formControls.password.errors.required">Current Password is required</div>
                        </div>
                        <p>
                            <label for="newPassword">Enter New Password<span class="required">*</span></label> 
							<input type="password" formControlName="newPassword"
							[ngStyle]="{ 'border': isSubmitted && formControls.newPassword.errors ? '1px solid red' : ''  }">
                        </p>
                        <div *ngIf="isSubmitted && formControls.newPassword.errors" class="error-block">
                             <div *ngIf="formControls.newPassword.errors.required">New Password is required</div>
                        </div>
                        <p>
                            <label for="repeatedNewPassword">Repeat New Password<span class="required">*</span></label> 
							<input type="password" formControlName="repeatedNewPassword"
							[ngStyle]="{ 'border': isSubmitted && formControls.repeatedNewPassword.errors ? '1px solid red' : ''  }">
                        </p>
                        <div *ngIf="isSubmitted && formControls.repeatedNewPassword.errors" class="error-block">
							 <div *ngIf="formControls.repeatedNewPassword.errors.required">Repeated New Password is required</div>
							 <div *ngIf="formControls.repeatedNewPassword.errors.mustMatch">Repeated New Password must match New Password</div>
                        </div>
                        <p class="form-submit">
							<input type="submit" value="Change Now" class="mu-post-btn" name="Change">
						</p>

											
                </form>
                </div>
                
              </div>

            </div>
          </div>
          <!-- end registration content -->
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End registration  -->