/*====================
Change Password PAGE
====================*/
#mu-changepassword {
}

#mu-changepassword .mu-changepassword-area {
	margin-top: 3%;
}
#mu-changepassword .mu-changepassword-area .mu-changepassword-content {
	margin-top: 5%;
}
#mu-changepassword .mu-changepassword-area .mu-changepassword-content .mu-changepassword-left {

}
#mu-changepassword .mu-changepassword-area .mu-changepassword-content .mu-changepassword-left .changepasswordform {

}
#mu-changepassword .mu-changepassword-area .mu-changepassword-content .mu-changepassword-left .changepasswordform .reply-title {
  font-size: 25px;
  margin-top: 0;
}
#mu-changepassword .mu-changepassword-area .mu-changepassword-content .mu-changepassword-left .changepasswordform label {
  display: block;
}
#mu-changepassword .mu-changepassword-area .mu-changepassword-content .mu-changepassword-left .changepasswordform label .required {
  color: #f60;
}
#mu-changepassword .mu-changepassword-area .mu-changepassword-content .mu-changepassword-left .changepasswordform input[type="password"]
{
  border: none;
  border: 1px solid #ddd;
  color: #555;
  /* margin-bottom: 10px; */
  height: 35px;
  padding: 5px;
  width: 30%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

} 

#mu-changepassword .mu-changepassword-area .mu-changepassword-content .mu-changepassword-left .changepasswordform .form-submit input {
  margin-top: 10px;
}
#mu-contact .mu-changepassword-area .mu-changepassword-content .mu-changepassword-right {

}
#mu-changepassword .mu-changepassword-area .mu-changepassword-content .mu-changepassword-right iframe {
  height: 500px;
}
.error-block {
	color : red;
}
