<!-- Start login  -->
<section id="mu-login">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-login-area">
					<!-- start title -->
					<!-- <div class="mu-title">
						<h4>Do you have an account? Please login.</h4>
						<p>Here you can login to your personal Your Assistant
							Account.</p>
					</div> -->
					<!-- end title -->
					<!-- start login content -->
					<app-alert></app-alert>
					<div class="mu-login-content">
						<div class="row">
							<div class="col-md-12">

								<div class="mu-login-left">
<mat-card>
	<mat-card-title>Do you have an account? Please Login</mat-card-title>
	<mat-card-subtitle>Here you can login to your personal Your Assistant Account.</mat-card-subtitle>
	<mat-card-content>
									<form [formGroup]="loginForm" autocomplete="off" novalidate
										(ngSubmit)="login()" fxLayout="column wrap"
										fxLayoutAlign="center center" fxLayoutGap="10px">
										<p>
											<mat-form-field appearance="outline" class="form-field">
												<mat-label>Email Address:</mat-label>
												<input type="email" matInput placeholder="Your email" [(ngModel)]="user.email" formControlName="email" required>
												<mat-icon matSuffix>mail_outline</mat-icon>
												<mat-hint>Input the fully qualified email address</mat-hint>
												<mat-error *ngIf="hasSpecificError('email', 'email')">Not a valid Email</mat-error>
											</mat-form-field>
										</p>

										<p>
											<mat-form-field appearance="outline">
												<mat-label>Password</mat-label>
												<input matInput type="password" placeholder="Your password" [(ngModel)]="user.password" formControlName="password" required>
												<mat-icon matSuffix>lock</mat-icon>
												<mat-hint>Min 8 char 1 number and 1 alpha</mat-hint>
											</mat-form-field>
										</p>
										<p class="form-submit">
											<input type="submit" value="Login" class="mu-post-btn" name="Login">
										</p>

									</form>
								</mat-card-content>
</mat-card>

									<p>
										<a class="hyperlink" routerLink="/account/customeraccount/changepassword">Forgot
											Password?</a>
									</p>

									<p>
										<a class="hyperlink" routerLink="/registration">New Customer? Register
											here!</a>
									</p>

								</div>


							</div>

						</div>
					</div>
					<!-- end login content -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End login  -->