/*====================
LOGIN PAGE
====================*/
#mu-login {
}

#mu-login .mu-login-area {
	margin-top: 3%;
}
#mu-login .mu-login-area .mu-login-content {
	margin-top: 5%;
}
#mu-login .mu-login-area .mu-login-content .mu-login-left {

}
#mu-login .mu-login-area .mu-login-content .mu-login-left .loginform {

}
#mu-login .mu-login-area .mu-login-content .mu-login-left .loginform .reply-title {
  font-size: 25px;
  margin-top: 0;
}
#mu-login .mu-login-area .mu-login-content .mu-login-left .loginform label {
  display: block;
}
#mu-login .mu-login-area .mu-login-content .mu-login-left .loginform label .required {
  color: #f60;
}
#mu-login .mu-login-area .mu-login-content .mu-login-left .loginform input[type="password"]
, input[type="email"]
{
  border: none;
  border: 1px solid #ddd;
  color: #555;
  /* margin-bottom: 10px; */
  height: 35px;
  padding: 5px;
  width: 40%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

} 

#mu-login .mu-login-area .mu-login-content .mu-login-left .loginform .form-submit input {
  margin-top: 10px;
}
#mu-contact .mu-login-area .mu-login-content .mu-login-right {

}
#mu-login .mu-login-area .mu-login-content .mu-login-right iframe {
  height: 500px;
}
.error-block {
	color : red;
}
