<!-- Start login  -->
<section id="mu-login">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-login-area">
					<!-- start title -->
					<div class="mu-title">
						<h4>Do you have an account? Please login.</h4>
						<p>Here you can login to your personal Your Assistant
							Account.</p>
					</div>
					<!-- end title -->
					<!-- start login content -->
					<div class="mu-login-content">
						<div class="row">
							<div class="col-md-12">
								<div class="mu-login-left">
									<form [formGroup]="loginForm" class="loginform" (ngSubmit)="login()">
										<p>
											<label for="email">My Email Address is <span class="required">*</span></label>
											<input type="email" placeholder="" formControlName="email" 
											[ngStyle]="{ 'border': isSubmitted && formControls.email.errors ? '1px solid red' : ''  }">
										</p>
										<div *ngIf="isSubmitted && formControls.email.errors" class="error-block">
											<div *ngIf="formControls.email.errors.required">Email is required</div>
										</div>
										<p>
											<label for="password">Password<span class="required">*</span></label>
											<input type="password" placeholder="" formControlName="password"
											[ngStyle]="{ 'border': isSubmitted && formControls.password.errors ? '1px solid red' : ''  }">
										</p>
										<div *ngIf="isSubmitted && formControls.password.errors" class="error-block">
											<div *ngIf="formControls.password.errors.required">Password is required
											</div>
										</div>
										<p class="form-submit">
											<input type="submit" value="Login" class="mu-post-btn" name="Login">
										</p>

									</form>


									<p>
										<a class="hyperlink" href="footer.html">Forgot Password?</a>
									</p>

									<p>
										<a class="hyperlink" routerLink="/registration">New Customer? Register here!</a>
									</p>

								</div>

							</div>

						</div>
					</div>
					<!-- end login content -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End login  -->