/*====================
LOGIN PAGE
====================*/


#mu-login .mu-login-area {
	margin-top: 3%;
}
#mu-login .mu-login-area .mu-login-content {
	margin-top: 5%;
}
#mu-login .mu-login-area .mu-login-content .mu-login-left {

}
#mu-login .mu-login-area .mu-login-content .mu-login-left .loginform {
 width: 100%;
}
#mu-login .mu-login-area .mu-login-content .mu-login-left .loginform .reply-title {
  font-size: 25px;
  margin-top: 0;
}



#mu-contact .mu-login-area .mu-login-content .mu-login-right {

}
#mu-login .mu-login-area .mu-login-content .mu-login-right iframe {
  height: 500px;
}

mat-form-field {
  font-size: 16px;
  width: 50%;
}

mat-card {
	width: 70%;
	margin-bottom: 2em;
}