.mu-check_card_status {
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
}
