
<div class="col-md-3">

	<aside class="mu-sidebar">
		<!-- <div class="mu-single-sidebar">
			<h3>Categories</h3>
			<ul class="mu-sidebar-catg">
				<li><a href="#">Web Design</a></li>
				<li><a href="">Web Development</a></li>
				<li><a href="">Math</a></li>
				<li><a href="">Physics</a></li>
				<li><a href="">Camestry</a></li>
				<li><a href="">English</a></li>
			</ul>
		</div> -->

		<!-- <div class="mu-single-sidebar">
			<h3>Popular Course</h3>
			<div class="mu-sidebar-popular-courses">
				<div class="media">
					<div class="media-left">
						<a href="#"> <img class="media-object"
							src="assets/img/services/1.jpg" alt="img">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">
							<a href="#">Medical Science</a>
						</h4>
						<span class="popular-course-price">$200.00</span>
					</div>
				</div>
				<div class="media">
					<div class="media-left">
						<a href="#"> <img class="media-object"
							src="assets/img/services/2.jpg" alt="img">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">
							<a href="#">Web Design</a>
						</h4>
						<span class="popular-course-price">$250.00</span>
					</div>
				</div>
				<div class="media">
					<div class="media-left">
						<a href="#"> <img class="media-object"
							src="assets/img/services/3.jpg" alt="img">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">
							<a href="#">Health and Sports</a>
						</h4>
						<span class="popular-course-price">$90.00</span>
					</div>
				</div>
			</div>
		</div> -->

		<!-- <div class="mu-single-sidebar">
			<h3>Archives</h3>
			<ul class="mu-sidebar-catg mu-sidebar-archives">
				<li><a href="#">May <span>(25)</span></a></li>
				<li><a href="">June <span>(35)</span></a></li>
				<li><a href="">July <span>(20)</span></a></li>
				<li><a href="">August <span>(125)</span></a></li>
				<li><a href="">September <span>(45)</span></a></li>
				<li><a href="">October <span>(85)</span></a></li>
			</ul>
		</div> -->

		<div class="mu-single-sidebar">
			<h3>Tags</h3>
			<div class="tag-cloud">
				<a routerLink="/services/centralservices">Central Services</a> <a routerLink="/services/publicservice">Public Services</a> 
			</div>
		</div>

	</aside>

</div>