<app-breadcrumb [allItems]="breacrumbItems"></app-breadcrumb>

<section id="mu-course-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-course-content-area">
						<div class="mu-title">
            				<h2>Public Services</h2>
            				<p>Your guide and assiatnt to public services</p>
          				</div>
						<div class="row">
							<div class="col-md-9">
								<!-- start course content container -->
								<div class="mu-course-container">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="mu-latest-course-single">
												<figure class="mu-latest-course-img">
													<a href="#"><img
														src="assets/img/services/aufenthaltstitel_blaue_karte.jpg" alt="img"></a>
													<figcaption class="mu-latest-course-imgcaption">
														<a href="#">Address Registration</a>
														<!--                           <span><i class="fa fa-clock-o"></i>90Days</span> -->
													</figcaption>
												</figure>
												<div class="mu-latest-course-single-content">
													
													<p>Register/Change Your Address here</p>
													<!-- <div class="mu-latest-course-single-contbottom">
														<a class="mu-course-details" href="#">Details</a> <span
															class="mu-course-price" href="#">€00.30 per Min</span>
													</div> -->
												</div>
											</div>
										</div>
										
				
										
										</div>
									</div>
								</div>


								<app-sidebar></app-sidebar>
							</div>