<app-navbar></app-navbar>
<!-- Start customer_profile  -->
<section id="mu-customer_profile">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-customer_profile-area">
                    <!-- start title -->
                    <div class="mu-title">
                        <h2>My Personal Data</h2>
                        <p>Here you can view change your personal data.</p>
                    </div>
                    <!-- end title -->
                    <!-- start customer_profile content -->
                    <div class="mu-customer_profile-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mu-customer_profile-left">
                                    <form [formGroup]="customerProfileForm" class="customer_profileform" (ngSubmit)="save()">
                                    <p class="comment-form-author">
                                        <label for="gender">Gender <span class="required">*</span></label>
                                        <select formControlName="gender">
                                            <option value="male">Male</option>
                                            <option value="saab">Female</option>
                                        </select>
                                    </p>
                                    <p class="comment-form-author" [ngClass]="{ 'has-error': isSubmitted && formControls.firstName.errors }">
                                        <label for="firstName">First Name <span class="required">*</span></label>
                                        <input type="text" placeholder="" formControlName="firstName">
                                    </p>
                                    <div *ngIf="isSubmitted && formControls.firstName.errors" class="help-block">
                                        <div *ngIf="formControls.firstName.errors.required">First Name is required
                                        </div>
                                    </div>

                                    <p class="comment-form-author" [ngClass]="{ 'has-error': isSubmitted && formControls.firstName.errors }">
                                        <label for="lastName">Last Name <span class="required">*</span></label>
                                        <input type="text" placeholder="" formControlName="lastName">
                                    </p>
                                    <div *ngIf="isSubmitted && formControls.lastName.errors" class="help-block">
                                        <div *ngIf="formControls.lastName.errors.required">Last Name is required
                                        </div>
                                    </div>


                                    <p class="comment-form-author" [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
                                        <label for="email">My Email <span class="required">*</span></label>
                                        <input type="email" placeholder="" formControlName="email">
                                    </p>
                                    <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
                                        <div *ngIf="formControls.email.errors.required">Email is required</div>
                                    </div>

                                    <p class="form-submit">
                                        <input type="submit" value="Save" class="mu-post-btn" name="submit">
                                    </p>
                                    </form>
                                    {{customerProfileForm.value | json}}
                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- end customer_profile content -->