<!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
<!--            <h2>Contact</h2> -->
           <ol class="breadcrumb">
            <li><a href="#">Home</a></li>            
			<li class="">Governmental Services</li>
			<li class=""><a [routerLink]="['/services/foreignersoffice']">Foreigner's Office</a></li>
			<li class="active">Permanent Settlement Permit</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
<section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
			 <div class="mu-title">
            				<h3>Permanent Settlement Permit</h3>
          				</div>
            <div class="row">
              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container mu-course-details">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mu-latest-course-single">
                          
                          
                        <div class="mu-latest-course-single-content">
                          <img src="assets/img/services/niederlassungserlaubnis.jpg" style="width:50%;height:50%;float:left;margin-right: 2%;" alt="img">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                          <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, placeat, ipsa. Modi sed quibusdam vel autem fugit, eaque, iste. Excepturi fugit dignissimos suscipit dolor perferendis debitis magni sed, quia ab.</p>
                          </blockquote>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi saepe possimus doloribus quod quibusdam officia suscipit qui illum nemo itaque, porro ipsam tempore enim error eius quia, culpa. Reprehenderit consequuntur voluptatem dolorum magni natus inventore molestias veritatis eos aspernatur repudiandae.</p>
                          <div>
							<app-check-electronic-card-status></app-check-electronic-card-status>
                          </div>
                        </div>
                      </div> 
                    </div>                                   
                  </div>
                </div>
                <!-- end course content container -->

              </div>
             <app-sidebar></app-sidebar>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>






  
  