<!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
<!--            <h2>Contact</h2> -->
           <ol class="breadcrumb">
            <li><a href="#">Home</a></li>            
			<li class="">Governmental Services</li>
			<li class="active">Foreigner's Office</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
<section id="mu-course-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-course-content-area">
						<div class="mu-title">
            				<h2>Foreigner's Office</h2>
            				<p>Your guide and assiatnt to foreigner's office related works.</p>
          				</div>
						<div class="row">
							<div class="col-md-9">
								<!-- start course content container -->
								<div class="mu-course-container">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="mu-latest-course-single">
												<figure class="mu-latest-course-img">
													<a href="#"><img
														src="assets/img/services/aufenthaltstitel_blaue_karte.jpg" alt="img"></a>
													<figcaption class="mu-latest-course-imgcaption">
														<a href="#">Blue Card Residence Permit</a>
														<!--                           <span><i class="fa fa-clock-o"></i>90Days</span> -->
													</figcaption>
												</figure>
												<div class="mu-latest-course-single-content">
													
													<p>All about your blue card</p>
													<!-- <div class="mu-latest-course-single-contbottom">
														<a class="mu-course-details" href="#">Details</a> <span
															class="mu-course-price" href="#">€00.30 per Min</span>
													</div> -->
												</div>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="mu-latest-course-single">
												<figure class="mu-latest-course-img">
													<a href="#"><img src="assets/img/services/niederlassungserlaubnis.jpg"
														alt="img"></a>
													<figcaption class="mu-latest-course-imgcaption">
														<a href="#">Permanent Settlement Permit</a>
														<!--                           <span><i class="fa fa-clock-o"></i>75Days</span> -->
													</figcaption>
												</figure>
												<div class="mu-latest-course-single-content">
												
													<p>Fetures around Permanent Settlement Permit.</p>
													<!-- <div class="mu-latest-course-single-contbottom">
														<a class="mu-course-details" href="#">Details</a> <span
															class="mu-course-price" href="#">€.00 per Min</span>
													</div> -->
												</div>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="mu-latest-course-single">
												<figure class="mu-latest-course-img">
													<a href="#"><img src="assets/img/services/appointment.jpg"
														alt="img"></a>
													<figcaption class="mu-latest-course-imgcaption">
														<a href="#">Appointments</a>
														<!--                           <span><i class="fa fa-clock-o"></i>90Days</span> -->
													</figcaption>
												</figure>
												<div class="mu-latest-course-single-content">
													
													<p>Get appointments for your need.</p>
													<!-- <div class="mu-latest-course-single-contbottom">
														<a class="mu-course-details" href="#">Details</a> <span
															class="mu-course-price" href="#">€5.00 per Page</span>
													</div> -->
												</div>
											</div>
										</div>
										
										</div>
									</div>
								</div>


								<app-sidebar></app-sidebar>
							</div>