<section id="mu-course-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-course-content-area">
						<div class="row">
							<div class="col-md-9">
								<!-- start course content container -->
								<div class="mu-course-container">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="mu-latest-course-single">
												<figure class="mu-latest-course-img">
													<a href="#"><img
														src="assets/img/services/aufenthaltstitel_blaue_karte.jpg" alt="img"></a>
													<figcaption class="mu-latest-course-imgcaption">
														<a href="#">Blue Card Residence Permit</a>
														<!--                           <span><i class="fa fa-clock-o"></i>90Days</span> -->
													</figcaption>
												</figure>
												<div class="mu-latest-course-single-content">
													<h4>
														<a href="#">Life is all about Questions.</a>
													</h4>
													<p>We answer your general questions about Germany and
														German system.</p>
													<div class="mu-latest-course-single-contbottom">
														<a class="mu-course-details" href="#">Details</a> <span
															class="mu-course-price" href="#">€00.30 per Min</span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="mu-latest-course-single">
												<figure class="mu-latest-course-img">
													<a href="#"><img src="assets/img/services/niederlassungserlaubnis.jpg"
														alt="img"></a>
													<figcaption class="mu-latest-course-imgcaption">
														<a href="#">Permanent Settlement Permit</a>
														<!--                           <span><i class="fa fa-clock-o"></i>75Days</span> -->
													</figcaption>
												</figure>
												<div class="mu-latest-course-single-content">
													<h4>
														<a href="#">Helping you out.</a>
													</h4>
													<p>advise you about your next setps if you are stuck in
														a particular situation in Germany.</p>
													<div class="mu-latest-course-single-contbottom">
														<a class="mu-course-details" href="#">Details</a> <span
															class="mu-course-price" href="#">€.00 per Min</span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="mu-latest-course-single">
												<figure class="mu-latest-course-img">
													<a href="#"><img src="assets/img/services/appointment.jpg"
														alt="img"></a>
													<figcaption class="mu-latest-course-imgcaption">
														<a href="#">Appointments</a>
														<!--                           <span><i class="fa fa-clock-o"></i>90Days</span> -->
													</figcaption>
												</figure>
												<div class="mu-latest-course-single-content">
													<h4>
														<a href="#">Letters are integral part of German life..</a>
													</h4>
													<p>In Germany it is very usual to receive often letters
														from German offices and other agencies. We can help you to
														understand the content and purpose of the letter.</p>
													<div class="mu-latest-course-single-contbottom">
														<a class="mu-course-details" href="#">Details</a> <span
															class="mu-course-price" href="#">€5.00 per Page</span>
													</div>
												</div>
											</div>
										</div>
										
										</div>
									</div>
								</div>


							</div>
				